@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a {
	text-decoration: none;
	color: #4D4D4F
}
a:hover {
	color: #F00
}
a img {
	border: 0;
}
img.image {
	border: #9d9d9d 1px solid
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	background: #fff url(../images/bg.png) no-repeat fixed;
	background-size: cover;
}
#box-wrap {

}
.clear {
	clear: both
}
.under-construction {
	text-align: center;
	padding: 10px 0
}
#box {
	width: 978px;
	margin: 0 auto
}
#header {
	height: 130px;
	position: relative
}
#language {
	position: absolute;
	top: 10px;
	right: 0
}
#language a {
	background: url(../images/flag_vn.gif) no-repeat;
	width: 26px;
	height: 17px;
	text-indent: -9999px;
	display: block;
	float: right;
	margin-left: 5px
}
#language a.english {
	background-image: url(../images/flag_en.gif)
}
.highlight {
	background: #FF0
}
#logo {
	padding: 15px 0 0
}
#logo a {
	display: block;
	background: url(../images/logo.jpg) no-repeat;
	background-size: contain;
	background-position: center center;
	text-indent: -99999px;
	width: 250px;
	height: 115px;
}
#description {
	padding: 10px 0 0;
	font-weight: bold;
	color: #333;
	font-size: 13px;
	display: none
}
#nav {
	height: 36px;
	background: #eb6f24;
}
#nav li {
	float: left;
	position: relative;
	height: 36px
}
#nav li.first {
	background: none
}
#nav li a {
	float: left;
	color: #fff;
	height: 26px;
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 30px 0
}
#nav li ul {
	display: none;
	width: 230px;
	background: #eb6f24;
	position: absolute;
	left: 20px;
	top: 36px
}
#nav li ul li {
	float: none;
	border-bottom: #efefef 1px solid;
	height: auto !important

}
#nav li ul li a {
	float: none;
	height: auto !important;
	padding: 8px 10px;
	color: #fff
}
#nav li:hover ul {
	display: block
}
#sl {
	padding: 5px 0 0
}
#sl img {
	max-width: 100%;
}
#main-body {
	min-height: 300px;
	padding: 10px;
	background: #fff
}
#aside {
	float: left;
	width: 195px
}
#aside h4 {
	background: url(../images/menu.png) no-repeat;
	height: 44px;
	text-indent: -9999px
}
#aside h4.su {
	background: url(../images/windws-support.jpg) no-repeat;
	height: 75px
}
#aside .catename {
	background: url(../images/catename.png) repeat-x;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	height: 34px;
	display: block;
}
#aside .catename a {
	padding: 10px 0 0 10px;
	height: 24px;
	font-size: 13px;
	display: block;
	font-weight: bold;
	color: #E01818;
}
.widget ul.menu-sub-product {
	padding: 10px 0
}
.widget ul.menu-sub-product li {
	padding: 10px 0;
	border-bottom: #dedede 1px solid
}
.widget ul.menu-sub-product li a {
	color: #964B00;
	font-weight: bold;

}
#bodycontent {
	float: right;
	width: 750px;
}
.box-content {
	padding: 0 0 15px
}
.box-header {
	background: url(../images/spbg.png) no-repeat;
	height: 40px;
	padding: 0 0 0 50px;
	float: left;
}



.box-title {
	padding: 11px 40px 0 0;
	height: 29px;
	background: url(../images/spbgr.png) no-repeat right 5px;
	color: #fff
}
.box-title a {
	color: #fff;
	font-size: 13px
}
#breadcrumbs {
	padding: 5px 0 10px
}
#breadcrumbs a {
	padding-left: 10px;
	padding-right: 10px;
	color: #333
}
#breadcrumbs a.home {
	padding-left: 0;
	font-weight: bold
}
.page-detail {
	padding: 20px 0 0;
	clear: left
}
.page-detail em {
	font-style: italic
}
.page-detail p {
	line-height: 1.5em;
	padding: 0 0 15px
}
#footer-nav {
	background: url(../images/bg-bottommenu-center.gif) repeat-x;
	height: 33px;
	text-align: center;
	color: #000;
	font-size: 12px;
}
#footer-nav a {
	color: #000;
	font-weight: bold;
	font-size: 12px;
	display: block;
	background: url(../images/line-menubottom.gif) no-repeat;
	float: left;
	padding: 10px 20px 0 30px;
	height: 23px
}
#footer-nav a.footer-nav-home {
	background-image: url(../images/bg-bottommenu-left.gif)
}
#footer {
	background: url(../images/footerbg.png) no-repeat;
	min-height: 147px;
	text-align: center
}
.copyright {
	text-align: right;
	padding: 15px 20px 0 0
}
.cate-items {
}
.cate-item {
	padding: 20px 0;
	float: left;
	border-bottom: #ddd 1px solid;
	width: 100%;
}
.cate-item a.thumb {
	display: block;
	float: left;
	width: 135px
}
.cate-item a.thumb img {
	width: 125px
}
.cate-item h2 {
	font-size: 13px;
	padding: 0 0 5px
}
.cate-item .extact {
	line-height: 1.4em
}
.nodata {
	padding: 10px 0 0;
	color: #333;
	font-style: italic
}
#colorbox, #cboxOverlay, #cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear:left;
}
#cboxContent {
	position:relative;
}
#cboxLoadedContent {
	overflow:auto;
}
#cboxTitle {
	margin:0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor:pointer;
}
.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
	max-width:none;
}
.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0;
}
#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
#cboxOverlay {
	background: url(../images/overlay.png) repeat 0 0;
}
#colorbox {
}
#cboxTopLeft {
	width:21px;
	height:21px;
	background: url(../images/controls.png) no-repeat -101px 0;
}
#cboxTopRight {
	width:21px;
	height:21px;
	background: url(../images/controls.png) no-repeat -130px 0;
}
#cboxBottomLeft {
	width:21px;
	height:21px;
	background: url(../images/controls.png) no-repeat -101px -29px;
}
#cboxBottomRight {
	width:21px;
	height:21px;
	background: url(../images/controls.png) no-repeat -130px -29px;
}
#cboxMiddleLeft {
	width:21px;
	background: url(../images/controls.png) left top repeat-y;
}
#cboxMiddleRight {
	width:21px;
	background: url(../images/controls.png) right top repeat-y;
}
#cboxTopCenter {
	height:21px;
	background: url(../images/border.png) 0 0 repeat-x;
}
#cboxBottomCenter {
	height:21px;
	background: url(../images/border.png) 0 -29px repeat-x;
}
#cboxContent {
	background:#fff;
	overflow:hidden;
}
.cboxIframe {
	background:#fff;
}
#cboxError {
	padding:50px;
	border:1px solid #ccc;
}
#cboxLoadedContent {
	margin-bottom:28px;
}
#cboxTitle {
	position:absolute;
	bottom:4px;
	left:0;
	text-align:center;
	width:100%;
	color:#949494;
}
#cboxCurrent {
	position:absolute;
	bottom:4px;
	left:58px;
	color:#949494;
}
#cboxSlideshow {
	position:absolute;
	bottom:4px;
	right:30px;
	color:#0092ef;
}
#cboxPrevious {
	position:absolute;
	bottom:0;
	left:0;
	background: url(../images/controls.png) no-repeat -75px 0;
	width:25px;
	height:25px;
	text-indent:-9999px;
}
#cboxPrevious:hover {
	background-position:-75px -25px;
}
#cboxNext {
	position:absolute;
	bottom:0;
	left:27px;
	background: url(../images/controls.png) no-repeat -50px 0;
	width:25px;
	height:25px;
	text-indent:-9999px;
}
#cboxNext:hover {
	background-position:-50px -25px;
}
#cboxLoadingOverlay {
	background: url(../images/loading_background.png) no-repeat center center;
}
#cboxLoadingGraphic {
	background: url(../images/loading.gif) no-repeat center center;
}
#cboxClose {
	position:absolute;
	bottom:0;
	right:0;
	background: url(../images/controls.png) no-repeat -25px 0;
	width:25px;
	height:25px;
	text-indent:-9999px;
}
#cboxClose:hover {
	background-position:-25px -25px;
}
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
.cboxIE6 #cboxTopLeft {
	background: url(../images/ie6/borderTopLeft.png);
}
.cboxIE6 #cboxTopCenter {
	background: url(../images/ie6/borderTopCenter.png);
}
.cboxIE6 #cboxTopRight {
	background: url(../images/ie6/borderTopRight.png);
}
.cboxIE6 #cboxBottomLeft {
	background: url(../images/ie6/borderBottomLeft.png);
}
.cboxIE6 #cboxBottomCenter {
	background: url(../images/ie6/borderBottomCenter.png);
}
.cboxIE6 #cboxBottomRight {
	background: url(../images/ie6/borderBottomRight.png);
}
.cboxIE6 #cboxMiddleLeft {
	background: url(../images/ie6/borderMiddleLeft.png);
}
.cboxIE6 #cboxMiddleRight {
	background: url(../images/ie6/borderMiddleRight.png);
}
.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
	_behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
.form-reg {
	padding: 20px 0 10px;
	clear: left
}
.form-reg p {
	clear: left;
	width: 100%;
	float: left;
	padding: 0 0 5px
}
.form-reg p label {
	display: block;
	width: 150px;
	float: left;
	font-weight: bold;
	font-size: 13px
}
.form-reg p span.error {
	display: block;
	margin-left: 150px;
	padding: 5px 0 10px;
	color: #F00
}
.form-reg p select {
	padding: 3px
}
.send-note {
	padding: 0 0 15px;
	color: #F00;
	font-weight: bold
}
.txt {
	padding: 5px 3px;
	width: 200px;
	border: #ccc 1px solid;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px
}
.txt400 {
	width: 300px
}
.textarea {
	width: 400px;
	height: 100px
}
.qc-items {
	padding: 10px 0 0
}
.pagination {
	padding: 10px 0;
	height: 30px
}
.pagination li {
	float: left;
	padding: 0 5px 0 0
}
.pagination li a {
	display: block;
	float: left;
	padding: 3px 8px;
	cursor: pointer;
	font-size: 12px;
	border: #ddd 1px solid;
}
.pagination li a.current {
	background: #111;
	color: #fff
}
#entry {
	padding: 15px 0;
	clear: both;
	font-size: 13px;
	line-height: 1.5em
}
#entry p {
	padding: 0 0 15px;
	line-height: 1.5em
}
#entry h1.entry-title {
	font-size: 22px;
	font-weight: normal;
	padding: 0 0 15px
}
.news-others {
	padding: 20px 0	;
	clear: both
}
.news-others ul {
	padding: 0 0 0 10px
}
.news-others ul li {
	padding: 0 0 10px 15px;
	background: url(../images/v.png) no-repeat 0 5px
}
.news-others ul li a {
	color: #000
}
#qc-items-4 {
	padding: 0 0 10px
}
#news-home .cl {
	float: left;
	width: 48%
}
#news-home .cr {
	float: right;
	width: 48%
}
#news-home .box-header {
	margin-bottom: 15px
}
#news-home a.thumb {
	float: left;
	width: 155px
}
#news-home a.thumb img {
	width: 145px
}
#news-home h2 {
	padding: 0 0 10px
}
#news-home h2 a {
	color: #964B00;
	font-size: 12px
}
#news-home ul {
	padding: 10px 0 0
}
#news-home ul li {
	background: url(../images/v.png) no-repeat 0 5px;
	padding: 0 0 7px 15px
}
#news-home ul li a {
	color: #964B00
}
#slider-bottom {
	height: 80px;
	overflow: hidden;
	padding: 0 20px;
	background: #fff
}
#support {
	padding: 10px 0;
}
#support p {
	padding: 0 0 8px
}
#support a {
	display: block;
	height: 24px;
	background: url(../images/icon-yahoo.png) no-repeat;
	padding: 0 0 0 30px;
	line-height: 24px
}
#support a.skype {
	background-image: url(../images/icon-skype.png)
}
#support a.phone {
	background-image: url(../images/icon-phone.png)
}
.title-topbar {
	position: relative;
	margin-bottom: 15px;
}
.logo-topbar {
	position: absolute;
	top: -6px;
	left: -4px;
	border-radius: 100%;
	border: 2px solid #eb6f24;
}
.logo-topbar img {
	width: 38px;
	height: 36px;
	border-radius: 100%;
	background: #fff;
}
.text-topbar {
	padding: 2px;
	float:left;
	min-width: 130px;
	border: 2px solid #eb6f24;
	height: 22px;
	margin-left: 10px;
	border-radius: 8px;
}
.text-topbar div {
	padding-left: 28px;
	background: #eb6f24;
	border-radius: 5px;
	line-height: 22px;
	color: #fff;
	font-size: 13px;
}